<div id="add">
    <form action="?mode=add" method="POST" >
        <textarea rows="3" cols="40" name="task" placeholder="Kirjuta siia"><?php if (!empty($_POST['task'])) echo htmlspecialchars($_POST['task']);?></textarea><br/>
        <?php if ($_SESSION['user']['usern'] != 'admin'): ?>
        <input type="hidden" name="user_id" value = "<?php echo $_SESSION['user']['id']; ?>" /><br/>
        <?php else: ?>
        <!-- siia lisada bossile võimalus teistele ülesannete lisamiseks-->
        <?php endif; ?>
        <input type="number" name="categ" value = "<?php if (!empty($_POST['categ'])) echo htmlspecialchars($_POST['categ']);?>"/><br/>
        <input type="date" name="deadline" value = "<?php if (!empty($_POST['deadline'])) echo htmlspecialchars($_POST['deadline']);?>"/><br/>
        <input type="submit" value="lisa ülesanne!"/>
    </form>
    <?php if (isset($errors)):?>
    <?php foreach($errors as $error):?>
    <div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
    <?php endforeach;?>
    <?php endif;?>
</div>
<pre><?php print_r($usertasks); ?></pre>