<div class = 'tasks'>
    <?php if (!empty($tasks)): ?>
        <?php foreach ($tasks as $nr=>$user) :?>
        <table id = "tasks">
        <thead>
        <tr>
            <th class = "task_col">Ülesanne</th><th>Kategooria</th><th>Tähtaeg</th>
        </tr>
        </thead>
        <div>
            <?php if ($nr == $_SESSION['user']['id']):?>
            <p><b>Minu ülesanded!</b></p>
            <?php else: ?>
            <?php foreach($users as $key => $usr):?>
            <?php if($usr['id']==$nr): ?>
            <p>Kasutaja <b><?php echo $usr['usern']; ?></b> ülesanded:</p>
            <?php endif; ?>
            <?php endforeach;?>

            <?php endif; ?>
            <tbody>
            <?php foreach ($user as $task):?>
            <tr>
                <td class = "task_col"><?php echo $task['task']; ?></td><td><?php echo $task['categ']; ?></td><td><?php echo $task['deadline']; ?></td>
            </tr>
            <?php endforeach;?>
            </tbody>
        </div>
        <?php endforeach; ?>
    </table>
    <?php endif; ?>
</div>