<div class = 'tasks'>
    <?php if (!empty($tasks)): ?>
        <?php foreach ($tasks as $nr=>$user) :?>
        <table class = "tasks">
        <thead>
        <tr>
            <th class = "task_col">Ülesanne</th><th>Kategooria</th><th>Tähtaeg</th>
        </tr>
        </thead>
        <div>
            <?php if ($nr == $_SESSION['user']['id']):?>
            <p><b>Minu ülesanded!</b></p>
            <?php else: ?>
            <?php foreach($users as $key => $usr):?>
            <?php if($usr['id']==$nr): ?>
            <br>
            <p>Kasutaja <b><?php echo htmlspecialchars($usr['usern']); ?></b> ülesanded:</p>
            <?php endif; ?>
            <?php endforeach;?>

            <?php endif; ?>
            <tbody>
            <?php foreach ($user as $task):?>
            <tr>
                <td class = "task_col"><?php echo htmlspecialchars($task['task']); ?></td><td><?php echo htmlspecialchars($task['categ']); ?></td><td><?php echo htmlspecialchars($task['deadline']); ?></td>
                <td>
                    <form action = "?mode=modify" method="POST">
                        <input type="hidden" name="modify_id" value = "<?php echo $task['id']; ?>" />
                        <input type="submit" value="Muuda" name = "modify"/>
                    </form>
                </td>
                <td>
                    <form action = "?mode=markdone" method="POST">
                        <input type="hidden" name="done_id" value = "<?php echo $task['id']; ?>" />
                        <input type="submit" value="Märgi tehtuks"/>
                    </form>
                </td>
                <td>
                    <form action = "?mode=delete" method="POST">
                        <input type="hidden" name="delete_id" value = "<?php echo $task['id']; ?>" />
                        <input type="submit" value="Kustuta" name = "delete"/>
                    </form>
                </td>
            </tr>
            <?php endforeach;?>
            </tbody>
        </div>
        <?php endforeach; ?>
    </table>
    <?php endif; ?>
</div>