<div class = 'tasks'>
    <?php print_r($_SESSION['message']); ?>
    <?php if (!empty($tasks)): ?>
    <table class = "tasks">
        <thead>
        <tr>
            <th class = "task_col">Ülesanne</th><th>Kategooria</th><th>Tähtaeg</th>
        </tr>
        </thead>

        <?php foreach ($tasks as $task): ?>
            <tbody>
            <tr>
                <td class = "task_col"><?php echo $task['task'] ?></td>
                <td><?php echo $task['categ'] ?></td>
                <td class = "deadline_col"><?php echo $task['deadline'] ?></td>
                <td>
                <form action = "?mode=modify" method="POST">
                    <input type="hidden" name="modify_id" value = "<?php echo $task['id']; ?>" />
                    <input type="submit" value="Muuda" name = "modify"/>
                </form>
                </td>
                <td>
                    <form action = "?mode=markdone" method="POST">
                    <input type="hidden" name="done_id" value = "<?php echo $task['id']; ?>" />
                    <input type="submit" value="Märgi tehtuks"/>
                    </form>
                </td>
                <td>
                    <form action = "?mode=delete" method="POST">
                        <input type="hidden" name="delete_id" value = "<?php echo $task['id']; ?>" />
                        <input type="submit" value="Kustuta" name = "delete"/>
                    </form>
                </td>
            </tr>
            </tbody>
            <?php endforeach; ?>
    </table>
    <?php endif; ?>
</div>

